Source: mynotes
Maintainer: Juliette Monsel <j_4321@protonmail.com>
Section: devel
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 7.4.3)
Standards-Version: 3.9.1





Package: mynotes
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-tk, tk-tktray, python3-ewmh, gettext, python3-setuptools
Recommends: zenity
Description: Post-it system tray app
 MyNotes is a sticky notes/post-it application. Notes are created using
 the system tray icon. They can be organized in categories and each
 category has a color. Images, checkboxes and a few predefined symbols
 can be inserted in the notes. The style of the text can be changed
 (alignment, style).
Homepage: https://sourceforge.net/projects/my-notes
